//
//  Debug.xcconfig
//  Geofancy
//
//  Created by Marcus Kida on 9/08/2014.
//  Copyright (c) 2014 Marcus Kida. All rights reserved.
//

#include "Pods/Target Support Files/Pods-Geofancy/Pods-Geofancy.debug.xcconfig"

BUNDLE_IDENTIFIER = io.kida.Geofancy
VERSION = 1.8.9
BACKEND_PROTOCOL = https
BACKEND_HOST = my.geofancy.com